/* ------------------------------------------------------------------------------
 *
 *  # NNCompass Specific Styles
 *
 *  Roboto Font CSS
 *
 *  Version: 2.0
 *  Long Live the Fighters
 *
 * ---------------------------------------------------------------------------- */

/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Thin/Roboto-Thin.woff2") format("woff2"), url("../Roboto/Thin/Roboto-Thin.woff") format("woff"), url("../Roboto/Thin/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/ThinItalic/Roboto-ThinItalic.woff2") format("woff2"), url("../Roboto/ThinItalic/Roboto-ThinItalic.woff") format("woff"), url("../Roboto/ThinItalic/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic; }
/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Light/Roboto-Light.woff2") format("woff2"), url("../Roboto/Light/Roboto-Light.woff") format("woff"), url("../Roboto/Light/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/LightItalic/Roboto-LightItalic.woff2") format("woff2"), url("../Roboto/LightItalic/Roboto-LightItalic.woff") format("woff"), url("../Roboto/LightItalic/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Regular/Roboto-Regular.woff2") format("woff2"), url("../Roboto/Regular/Roboto-Regular.woff") format("woff"), url("../Roboto/Regular/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Regular/Roboto-Regular.woff2") format("woff2"), url("../Roboto/Regular/Roboto-Regular.woff") format("woff"), url("../Roboto/Regular/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Italic/Roboto-Italic.woff2") format("woff2"), url("../Roboto/Italic/Roboto-Italic.woff") format("woff"), url("../Roboto/Italic/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Italic/Roboto-Italic.woff2") format("woff2"), url("../Roboto/Italic/Roboto-Italic.woff") format("woff"), url("../Roboto/Italic/Roboto-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Medium/Roboto-Medium.woff2") format("woff2"), url("../Roboto/Medium/Roboto-Medium.woff") format("woff"), url("../Roboto/Medium/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/MediumItalic/Roboto-MediumItalic.woff2") format("woff2"), url("../Roboto/MediumItalic/Roboto-MediumItalic.woff") format("woff"), url("../Roboto/MediumItalic/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Bold/Roboto-Bold.woff2") format("woff2"), url("../Roboto/Bold/Roboto-Bold.woff") format("woff"), url("../Roboto/Bold/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Bold/Roboto-Bold.woff2") format("woff2"), url("../Roboto/Bold/Roboto-Bold.woff") format("woff"), url("../Roboto/Bold/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/BoldItalic/Roboto-BoldItalic.woff2") format("woff2"), url("../Roboto/BoldItalic/Roboto-BoldItalic.woff") format("woff"), url("../Roboto/BoldItalic/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../Roboto/BoldItalic/Roboto-BoldItalic.woff2") format("woff2"), url("../Roboto/BoldItalic/Roboto-BoldItalic.woff") format("woff"), url("../Roboto/BoldItalic/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Black/Roboto-Black.woff2") format("woff2"), url("../Roboto/Black/Roboto-Black.woff") format("woff"), url("../Roboto/Black/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("../Roboto/BlackItalic/Roboto-BlackItalic.woff2") format("woff2"), url("../Roboto/BlackItalic/Roboto-BlackItalic.woff") format("woff"), url("../Roboto/BlackItalic/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */