@charset "UTF-8";

/* CSS Document */


/* ------------------------------------------------------------------------------
*
*  # CES App Sizing
*
*  Give me a left selector window, and a split top and bottom on the right
*
*  Version: 1.2
*  Long Live the Fighters
*
* ---------------------------------------------------------------------------- */

.appHeight {
  max-height: 100vh;
  overflow: hidden;
}

.containerHeight {
  height: calc(100vh - 46px);
  height: -o-calc(100vh - 46px);
  height: -webkit-calc(100vh - 46px);
  height: -moz-calc(100vh - 46px);
}

.searchPane {
  overlfow: scroll;
}

.selectorWindow {
  height: calc(100vh - 46px);
  height: -o-calc(100vh - 46px);
  height: -webkit-calc(100vh - 46px);
  height: -moz-calc(100vh - 46px);
  overflow: scroll;
}

.splitMain {
  height: calc(100vh - 46px);
  height: -o-calc(100vh - 46px);
  height: -webkit-calc(100vh - 46px);
  height: -moz-calc(100vh - 46px);
}

.splitMargin {
  margin-left: 365px;
}

@media (max-width: 768px) {
  .splitMargin {
    margin-left: 0;
  }
}

.gutter {
  background-color: #ddd;
  border-top: solid 1px #a8a8a8;
  border-bottom: solid 1px #a8a8a8;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('../images/grips/vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('../images/grips/horizontal.png');
}

.search-content {
  padding: 20px 20px 60px 20px;
}


/* ------------------------------------------------------------------------------
*
*  # CES Login Page
*
*  Specific things I need to do on the login page
*
*  Version: 1.0
*  Long Live the Fighters!
*
* ---------------------------------------------------------------------------- */

.login-logo img {
  margin-left: 40px;
  margin-top: 40px;
  height: 60px;
}

.svg-wrapper {
  text-align: center;
  height: 60px;
}

.loginshape1 {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #F85C5C;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.logintext1 {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 4px;
  color: #EBEBEB;
  top: -48px;
  position: relative;
}

.svg-wrapper:hover .loginshape1 {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.loginshape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #2db884;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.logintext {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 4px;
  color: #EBEBEB;
  top: -48px;
  position: relative;
}

.svg-wrapper:hover .loginshape {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}


/* ------------------------------------------------------------------------------
*
*  # CES Background
*
* Modifying background color to a lighter shade
*
*  Version: 1.0
*  Long Live the Fighters!
*
* ---------------------------------------------------------------------------- */

body {
  background-color: #3d3f45 !important;
}


/* ------------------------------------------------------------------------------
*
*  # Modify Timeline Min CSS
*
*  Check ordering
*
*  Version: 1.0
*  Long Live the Fighters!
*
* ---------------------------------------------------------------------------- */

.vis-labelset .vis-label,
.vis-time-axis .vis-text {
  color: #efefef;
}

.vis-item.vis-selected {
  font-weight: bold;
  border-color: cyan;
  background-color: #262d3c;
}

.bg-info {
  background-color: teal;
}

.vis-grid {
  border-color: #e5e5e5;
}


/* ------------------------------------------------------------------------------
*
*  # Modify Card Headers
*
*  Make all card headers consistent
*
*  Version: 1.0
*  Long Live the Fighters!
*
* ---------------------------------------------------------------------------- */

.card-header {
  background-color: teal !important;
}

.Lheader {
  font-size: 3rem;
  padding-top: 30px;
}


.mission-header {
  padding: 40px 0px 15px;
  font-size: 3rem;

}

.mission-card {
  cursor: pointer;
}

.template-card {
  width: 60%;
}

.mc-btn {
    font-size: 1.25rem;
    background-color: #666;
    background-image: none;
    border-color: #353f53;
    border-width: inherit;
    cursor: pointer;
    border-radius: 8px;

}

.scratch-btn {

}
