body {
    overflow: hidden;
}

#content {
    height: calc(100% - 50px);
    overflow: auto;
    margin-top: 0;
    background-color: #262d3c;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.controller-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  z-index: 3;
}

.controller-footer .container {
    margin-left: 10px;
}

.swal-size-sm {
    width: 200px !important;
    height: 220px !important;
}

.swal-size-sm > .swal-icon {
    transform: scale(0.5, 0.5);
}

.swal-size-sm > .swal-title {
    margin-top: -50px;
    font-size: 20px;
}

.swal-size-sm > .swal-icon {
    margin-top: 20px;
    animation: none;
}

.swal-size-sm > .swal-text {
    font-size: 14px;
}

.swal-size-sm > .swal-footer {
    font-size: 10px;
    line-height: 0.8;
    margin-top: 10px;
    padding: 7px 8px;
}

.controller-modal {
    font-size: 0.8125rem;
}

.controller-modal .modal-header {
    padding: 10px;
}

.controller-modal > .modal-sm {
    max-width: 300px;
}


/* Watchlist Generator CSS */

.watcher {
  color: white;
}

.search-container {
  width: 100%;
  padding: 10px ;
}

.results-container {
  width: auto;
  height: auto;
  padding: 10px;

}
.w100 {
  width: 100%;
}

.accordion {
  background-color: #eee;
  font-size: 1.5em;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

}

.active, .accordion:hover {
  background-color: #008080 !important;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  color: #444;
}

.pb3 {
  padding-bottom: 3px;
}

.watchlist-btn {
  font-size: 1.5em;
  border-radius: 4px;
  margin: 0 10px 10px;
}

.f-right {

  float: right;
}

.attributes-container {
  padding: 10px;
}

.watchlist-container {
  padding: 20px 0 35px;
}

.wItems-container {
  padding-bottom: 30px;

}

.pb10 {
  padding-bottom: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.sbar {
  height: 40px;
}

.nbar {
  height: 35px;
  width: 300px;
  padding-left: 10px;
  margin-left: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}

textarea,
textarea::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
}

.watchlist-dropdown {
  padding-left: 10px;
  height: 35px;
  font-size: 1.5em;
}

.num-input {
  line-height: 1;
  font-size: 18px;
}

.pill {
  border-radius: 10px;
  background-color: #efefef;
  border-width: 1px;
}

.icon {
  padding: 0 10px;
}

.pl10 {
  padding-left: 10px;
}

.mb0 {
  margin-bottom: 0;
}

.add-btn {
  border-radius: 25px;
}

.temp-card {
  background: #666;
  padding: 10px;
  margin-bottom: 15px;
}



.tag {
  font-size: 1.25rem;

}

button.close {
 padding-left: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.xlm {
  min-height: 500px;
}

.Mheader {
  font-size: 2rem;
  padding-top: 10px;
}

.mr24 {
  margin-right: 24px;
}

/* Launch Button  */

.wrap {
margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.launch-mission-button-container {
	margin-top: 30px;
}

.buttonX {
  min-width: 500px;
  min-height: 100px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background: #ff0f0f;
background: linear-gradient(90deg, rgba(255,15,15,1) 0%, rgba(255,15,15,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(255,15,15,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.buttonX::before {
content: '';
  border-radius: 1000px;
  min-width: calc(500px + 12px);
  min-height: calc(100px + 12px);
  border: 6px solid #ff0f0f;
  box-shadow: 0 0 60px rgba(255,15,15,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.buttonX:hover, .buttonX:focus {
  color: #fff;
  transform: translateY(-6px);
}

.buttonX:hover::before, .buttonX:focus::before {
  opacity: 1;
}

.buttonX::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #ff0f0f;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.buttonX:hover::after, .buttonX:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
