/* ------------------------------------------------------------------------------
 *
 *  # nnompass-web Special Cases
 *
 *  Import plugins CSS
 *
 *  Version: 2.0
 *  Long Live the Fighters
 *
 * ---------------------------------------------------------------------------- */
 #finish-error-div {
    display: none;
 }

 /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #AD1457;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#submit-card-info {
    margin-top: 10px;
}

.deduplicate-cl-wrapper > div.btn-group > button.multiselect {
    padding-top: 0;
    padding-bottom: 0;
}

.comprehend-cl-wrapper > div.btn-group > button.multiselect {
    padding-top: 0;
    padding-bottom: 0;
}

div.transformer-item  div.checker span, div.integration-item  div.checker span {
    width: 11px;
    height: 11px;
}

div.transformer-item  div.checker span::after, div.integration-item  div.checker span::after {
    font-size: 11px;
}

.flex-display {
  display: flex;
}

.icon-eye  {
  cursor: pointer;
}

span.nnvhl {
    background-color: #00BCD4;
    border-color: #00BCD4;
    color: #fff;
}


.truncate {
	padding-left: 2px;
}

.updatebtn {
	text-align: center;
	padding-bottom: 5px;
}

.tokenfield.readonly .token .token-label {
    padding-right: 35px;
}

.tokenfield.form-control {
    height: auto;
    min-height: 30px;
}
.ui-dialog-subhead {
	font-size: 12px;
}

.nv-detail-header {
    height: 45px;
}

.nv-detail-sub {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    font-weight: 300;
    color: #999999;
}

.webix_dtable .webix_ss_header td {
    border-bottom: 0px;
}

.ol-unselectable {
    height: auto !important;
}

.widget-list {
    position: relative;
    padding: 15px;
}

.gridMain .gutter {
    position: relative;
}

.card-body {
    overflow: hidden;
    padding: 5px;
}

#topData {
    overflow: scroll;
}

.fixed-top {
    margin-top: 50px;
}

iframe {
    border: none;
}

.grid-content-wrapper iframe {
    height: 350px;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-content {
    overflow: scroll !important;
    position: fixed !important;
    width: inherit !important;  
}